body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: #774936;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* .p5Canvas {
} */

main {
  display: inline;
}

#creatureStats {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
}

#stat {
  padding: 4px;
  border-radius: 8px;
}

#canvasParent {
  text-align: center;
  padding: 50px;
}

.menu-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px; */
}

.health-overlay{
  position: absolute;
  top: 8%;
  left: 74%;
  transform: translate(-50%, -50%);
  height: 75px;
}
.health-overlay1{
  position: absolute;
  top: 8%;
  left: 71%;
  transform: translate(-50%, -50%);
  height: 75px;
}
.health-overlay2{
  position: absolute;
  top: 8%;
  left: 68%;
  transform: translate(-50%, -50%);
  height: 75px;
}

.armour-overlay{
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75px;
  
}

.armour-overlay1{
  position: absolute;
  top: 8%;
  left: 47%;
  transform: translate(-50%, -50%);
  height: 75px;
  
}


.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  
}

.menu li {
  margin: 10px 10px;
}

.leaderboard-container {
  background-color: #F7A9A8;
  border: solid #774936 5px;
  border-radius: 20px;
  padding: 10px;
}

.menu button {
  border: solid #774936 5px;
  border-radius: 20px;
  background-color: #F7A9A8;
  color: #774936;
  padding: 10px;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'serif, Times New Roman', Times;
  width: 350px;
  border-radius: 20px;
}

.leaderboard {
  margin-top:40px;
  display: table;
  width: 100%;
  /* border-collapse: collapse; */
  text-align: center;
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);

}

.leaderboard-heading{
  position: absolute;
  top: 20px;
  left:14%;
  font-size: 40px;
  margin:auto;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  color: #774936;
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);


}

.leaderboard th {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  /* border-bottom: 2px solid #fff; */
}
.leaderboard td {
  font-size: 1.8rem;
  padding: 1rem;
  /* border-bottom: 1px solid #fff; */
}

.leaderboard td:first-child {
  text-align: left;
}

.leaderboard td:last-child {
  text-align: right;
}
.leaderboard tbody {
  margin-top: 1rem;
  padding: 0 2rem;
}

.leaderboard tbody tr:first-child {
  color: #774936;
  font-weight: bold;

  margin:0px;
  padding:0px;
}

.view{
  border: solid #774936 5px;

}
.store-listing{
  border: solid black 2px;

  padding: 40px;
  border-radius: 20px;
  background-color: #F7A9A8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  position: relative;
  top: 10px;
  justify-content: center;
  /* padding: 20px, 0, 20px, 0px; */
  list-style: none;

  
}

.items{
  padding: 40px;

}

.return-button{
  width: 50px;
  position: absolute;
  top:1px;
  left:1px;
}

.menu-heading{
  position: absolute;
  top: 15px;
  left:29%;
  font-size: 50px;
  margin:auto;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  color: #774936;
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);

}

.item-image{
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);


}

.item-cost{
  border: solid #774936 3px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 15px ;
  margin-right: 15px ;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);
}

.item-name{
  font-weight: 1000;
  border: solid #774936 3px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 15px ;
  margin-right: 15px ;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);
}

.currency-display{
  position: relative;
  top: 25px;
  left:50%;

}

.item-image:hover{
  border: solid #3a89bf 3px;
  border-radius: 20px;
  box-shadow: 3px 3px #263b5a;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);
}

.leader-table{
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);

}

.menu button:hover {
  border: solid #3a89bf 5px;
  border-radius: 20px;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);
  color: #000000;
  padding: 10px;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'serif, Times New Roman', Times;
  width: 350px;
  box-shadow: 3px 3px #263b5a;
}