body {
  margin-top: -150px;
  background-color: rgb(0, 0, 0);
  color: #774936;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  width: 99%;
}
#app {
  position: relative;
}

/* .p5Canvas {
} */

main {
  display: inline;
}

#creatureStats {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
}

#stat {
  padding: 4px;
  border-radius: 8px;
}

#canvasParent {
  text-align: center;
  padding: 50px;
}

.menu-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 400px;
  max-width: 550px;
  min-height: 400px;
  min-width: 550px;
  /* background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px; */
}
.store-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bottom: 0;
  right: 0; */
  /* margin: auto; */
transform: translate(-50%, -50%);
  max-height: 800px;
  max-width: 550px;
  min-height: 800px;
  min-width: 550px;
  /* background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px; */
}
.leaderboard-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 775px;
  max-width: 600px;
  min-height: 775px;
  min-width: 600px;
  background-color: #F7A9A8;
  border: solid #774936 5px;
  border-radius: 20px;
  padding: 10px;
  /* background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px; */
}

.health-overlay{
  position: absolute;
  top: 8%;
  left: 74%;
  transform: translate(-50%, -50%);
  height: 75px;
}
.health-overlay1{
  position: absolute;
  top: 8%;
  left: 72%;
  transform: translate(-50%, -50%);
  height: 75px;
}
.health-overlay2{
  position: absolute;
  top: 8%;
  left: 70%;
  transform: translate(-50%, -50%);
  height: 75px;
}

.armour-overlay{
  position: absolute;
  top: 8%;
  left: 65%;
  transform: translate(-50%, -50%);
  height: 75px;
  
}

.armour-overlay1{
  position: absolute;
  top: 8%;
  left: 62.5%;
  transform: translate(-50%, -50%);
  height: 75px;
  
}

.armour-overlay2{
  position: absolute;
  top: 8%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 75px;
  
}


.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  
}

.menu li {
  margin: 10px 10px;
}

/* .leaderboard-container {
  background-color: #F7A9A8;
  border: solid #774936 5px;
  border-radius: 20px;
  padding: 10px;
} */

.menu button {
  border: solid #774936 5px;
  border-radius: 20px;
  background-color: #F7A9A8;
  color: #774936;
  padding: 10px;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  width: 350px;
  border-radius: 20px;
}

.leaderboard {
  margin-top:40px;
  display: table;
  width: 100%;
  /* border-collapse: collapse; */
  text-align: center;
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);

}

.leaderboard-heading{
  position: absolute;
  font-size: 1em;
  height: 1em;
  top: 8px;
 right: 50px;
  font-size: 40px;
  margin:auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  color: #774936;
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);
}

.leaderboard th {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  /* border-bottom: 2px solid #fff; */
}
.leaderboard td {
  font-size: 1.8rem;
  padding: 1rem;
  /* border-bottom: 1px solid #fff; */
}

.leaderboard td:first-child {
  text-align: left;
}

.leaderboard td:last-child {
  text-align: right;
}
.leaderboard tbody {
  margin-top: 1rem;
  padding: 0 2rem;
}

.leaderboard tbody tr:first-child {
  color: #774936;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  margin:0px;
  padding:0px;
}

.view{
  border: solid #774936 5px;

}
/* .store-listing{
  border: solid black 2px;
  
  height: auto; 
  padding: 20px; 
  border-radius: 20px;
  background-color: #F7A9A8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  /* justify-content: center;
  /* list-style: none; 
  align-items: center;  
} 


.store-container{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.store-listing {
  border: solid black 2px;
  position: absolute;
  padding: 20px;
  border-radius: 20px;
  background-color: #F7A9A8;
  display: grid;
  grid-template-columns: 275px 275px;
  box-sizing: border-box;
  margin: auto;
  /* border: 10px; */
  /* margin-top: 20px; */
  justify-content: center;
  align-items: center;
  /* top: 50%; */
}

.store-container {
  position: relative;
}

.item-container {
  position: relative;
  top: 5%;
}



.items{
  padding: 40px;

}

.return-button{
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: solid #774936 3px;
  border-radius: 10px;
}
.return-button:hover{
  border: solid #774936 3px;
  border-radius: 10px;
  box-shadow: 3px 3px #263b5a;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);
  color: #000000;
  cursor: pointer;
  box-shadow: 3px 3px #263b5a;
}

.menu-heading{
  position: absolute;
  text-decoration: underline 3px;
  top: 5px;
  margin:auto;
  /* margin-bottom: 10px; */
  right: 29%;
  font-size: 50px;
  padding:5px 20px 10px 20px;
  /* padding-left: 20px;
  padding-right: 20px; */
  justify-content: center;
  color: #774936;
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);

}

.item-image{
  margin:auto;
  border: solid #774936 3px;
  height: 150px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);


}

.item-cost{
  border: solid #774936 3px;
  width: 200px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: auto ;
  margin-right: auto ;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);
}


.item-name{
  text-decoration: underline 2px
  ;
  font-weight: 1000;
  width: 200px;
  border: solid #774936 3px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: auto ;
  margin-right: auto ;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);
}

.currency-display{
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);
  position: relative;
  top: 30px;
  left: 50%;
  right: 50%;
  padding: 5px;

  
}
.reset-button{
 position: relative;
 right: 50%;
 bottom: 5%;
  /* width: 280px; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 20px;
  margin-left: 15px ;
  margin-right: 15px ;
  /* margin: auto; */
  border: solid #774936 3px;
  border-radius: 5px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);
}
.reset-button:hover{
  border: solid #3a89bf 3px;
  border-radius: 5px;
  box-shadow: 3px 3px #263b5a;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);
  color: #000000;
  cursor: pointer;
  box-shadow: 3px 3px #263b5a;
}



.item-image:hover{
  border: solid #3a89bf 3px;
  border-radius: 20px;
  box-shadow: 3px 3px #263b5a;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);
  cursor: pointer;
}

.leader-table{
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);

}

.menu button:hover {
  border: solid #3a89bf 5px;
  border-radius: 20px;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);
  color: #000000;
  padding: 10px;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  width: 350px;
  box-shadow: 3px 3px #263b5a;
}

.message-container{
  transform: translate(0%, -255%);
  border: solid #774936 3px;
  background-color: rgb(255,247,230);
  border-radius: 10px;
  position: relative;
  left: 50%;
  border: auto
  ;
  /* padding: 20px; */
  }

/* Name page */

.lableName {
  position:relative;
  top: 5px;
  transform: translate(80%, 0%);
  font-size: 4em;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  justify-content: center;
  color: #252220;
  text-shadow: 3px 3px #afaead;
  
}

.inputName {
  border-radius: 20px;
  align-items: center;
  transform: translate(5%, 12%);
  top: 10px;
  color: #252220;
  font-size: 0.75em;
  font-weight: bold;
font-size: 23px;
  font-family: 'Press Start 2P', cursive;
  background: rgb(212, 202, 181);

  border: solid #301e15 3px;
  background: linear-gradient(180deg, rgb(231, 204, 142) 0%,
   rgb(184, 177, 138) 100%);
   box-shadow: 3px 3px #263b5a;
   width: 350px;
   height: 0.75em;
   padding: 10px;

}


.inputName:hover {
  color: #000000;
  border: solid #350c0c 4px;
  border-radius: 20px;
  background: rgb(197, 247, 185);
  background: linear-gradient(180deg, rgb(105, 212, 171) 0%,
   rgb(186, 207, 197) 100%);
  box-shadow: 3px 3px #2f476a;
}

.scoreh1 {
  width: 4.5em;
  align-items: center;
  transform: translate(70%, 8%);
  top: 5px;
  font-size: 4em;
  padding-top: 10px;
  color:#350c0c;
  text-shadow: 3px 4px #ec9c77;
  text-align: center;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  border: solid #301e15 3px;
  background: linear-gradient(180deg, rgb(251, 219, 145) 0%,
   rgb(138, 129, 80) 100%);
   border-radius: 20px;
   box-shadow: 3px 3px #263b5a;
}

.scoreh1:hover {
    border: solid #350c0c 4px;
    background: rgb(197, 247, 185);
    background: linear-gradient(180deg, rgb(170, 238, 212) 0%,
     rgb(170, 233, 203) 100%);
    color: #000000;
  }

  .submitbtn {
    border-radius: 20px;
  align-items: center;
  transform: translate(-0%, -40%);
  top: 15px;
  font-size: 2em;
  text-shadow: 3px 3px #afaead;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  background: rgb(212, 202, 181);
  border: solid #301e15 3px;
  background: linear-gradient(180deg, rgb(251, 219, 145) 0%,
   rgb(138, 129, 80) 100%);
   box-shadow: 3px 3px #3a5781;
   padding: 10px;
   width: 290px;
}
.submitbtn:hover {
  border: solid #350c0c 4px;
    background: rgb(197, 247, 185);
    background: linear-gradient(180deg, rgb(105, 212, 171) 0%,
     rgb(48, 125, 88) 100%);
    color: #000000;
    cursor: pointer;
    box-shadow: 3px 4px #263b5a;
} 

.leaderBoard{
  font-size: 10px;
}
#app{
  z-index: 2;
  transform: translate(0,-200px);
}
main{
  transform: translate(0,-3300px);
}
.p5Canvas{
  /* position: absolute; */
  top: -2000px; /* Adjust the value as needed */
  transform: translate(0,-4000px);
  transform: scale(80%);
  z-index:1;
}