body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: #774936;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

/* .p5Canvas {
} */

main {
  display: inline;
}

#creatureStats {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
}

#stat {
  padding: 4px;
  border-radius: 8px;
}

#canvasParent {
  text-align: center;
  padding: 50px;
}

.menu-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 800px;
  min-width: 500px;
  /* background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px; */
}

.health-overlay{
  position: absolute;
  top: 8%;
  left: 74%;
  transform: translate(-50%, -50%);
  height: 75px;
}
.health-overlay1{
  position: absolute;
  top: 8%;
  left: 71%;
  transform: translate(-50%, -50%);
  height: 75px;
}
.health-overlay2{
  position: absolute;
  top: 8%;
  left: 68%;
  transform: translate(-50%, -50%);
  height: 75px;
}

.armour-overlay{
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75px;
  
}

.armour-overlay1{
  position: absolute;
  top: 8%;
  left: 47%;
  transform: translate(-50%, -50%);
  height: 75px;
  
}

.armour-overlay2{
  position: absolute;
  top: 8%;
  left: 44%;
  transform: translate(-50%, -50%);
  height: 75px;
  
}


.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  
}

.menu li {
  margin: 10px 10px;
}

.leaderboard-container {
  background-color: #F7A9A8;
  border: solid #774936 5px;
  border-radius: 20px;
  padding: 10px;
}

.menu button {
  border: solid #774936 5px;
  border-radius: 20px;
  background-color: #F7A9A8;
  color: #774936;
  padding: 10px;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  width: 350px;
  border-radius: 20px;
}

.leaderboard {
  margin-top:40px;
  display: table;
  width: 100%;
  /* border-collapse: collapse; */
  text-align: center;
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);

}

.leaderboard-heading{
  position: absolute;
  font-size: 1em;
  height: 1em;
  top: 2px;
  left:8%;
  font-size: 40px;
  margin:auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  color: #774936;
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);


}

.leaderboard th {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  /* border-bottom: 2px solid #fff; */
}
.leaderboard td {
  font-size: 1.8rem;
  padding: 1rem;
  /* border-bottom: 1px solid #fff; */
}

.leaderboard td:first-child {
  text-align: left;
}

.leaderboard td:last-child {
  text-align: right;
}
.leaderboard tbody {
  margin-top: 1rem;
  padding: 0 2rem;
}

.leaderboard tbody tr:first-child {
  color: #774936;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  margin:0px;
  padding:0px;
}

.view{
  border: solid #774936 5px;

}
.store-listing{
  border: solid black 2px;
  height: auto;
  padding: 40px;
  border-radius: 20px;
  background-color: #F7A9A8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  
  /* max-width: 800px; */
 
  /* top: 20px; */

  justify-content: center;
  /* padding: 20px, 0, 20px, 0px; */
  list-style: none;

  
}

.items{
  padding: 40px;

}

.return-button{
  width: 50px;
  position: absolute;
  top:1px;
  left:1px;
}

.menu-heading{
  position: absolute;
  top: 15px;
  left: 33%;
  font-size: 50px;
  margin:auto;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  color: #774936;
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);

}

.item-image{
  margin-right: 100px;
  border: solid #774936 3px;
  height: 150px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);


}

.item-cost{
  border: solid #774936 3px;
  width: 200px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 50px ;
  margin-right: 15px ;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);
}

.item-name{
  font-weight: 1000;
  width: 200px;
  border: solid #774936 3px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 50px ;
  margin-right: 15px ;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);
}

.currency-display{
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);
  position: relative;
  top: 20px;
  left:50%;
  

}
.reset-button{
 position: relative;
  left: 50%;
  width: 280px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin-top:70px;
  margin-left: 15px ;
  margin-right: 15px ;
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);
}
.reset-button:hover{
  border: solid #3a89bf 3px;
  border-radius: 20px;
  box-shadow: 3px 3px #263b5a;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);
  color: #000000;
  cursor: pointer;
  box-shadow: 3px 3px #263b5a;
}


.item-image:hover{
  border: solid #3a89bf 3px;
  border-radius: 20px;
  box-shadow: 3px 3px #263b5a;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);
}

.leader-table{
  border: solid #774936 3px;
  border-radius: 20px;
  background: rgb(255,247,230);
  background: linear-gradient(180deg, rgba(255,247,230,1) 0%, rgba(255,219,153,1) 100%);

}

.menu button:hover {
  border: solid #3a89bf 5px;
  border-radius: 20px;
  background: rgb(244,253,255);
  background: linear-gradient(180deg, rgba(244,253,255,1) 0%, rgba(129,212,233,1) 100%);
  color: #000000;
  padding: 10px;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  width: 350px;
  box-shadow: 3px 3px #263b5a;
}

.message-container{
  transform: translate(0%, -255%);
  border: solid #774936 3px;
  background-color: rgb(255,247,230);
  border-radius: 10px;
  /* padding: 20px; */
  }

/* Name page */

.lableName {
  position:relative;
  top: 5px;
  transform: translate(80%, 0%);
  font-size: 4em;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  justify-content: center;
  color: #252220;
  text-shadow: 3px 3px #afaead;
  
}

.inputName {
  border-radius: 20px;
  align-items: center;
  transform: translate(5%, 12%);
  top: 10px;
  color: #252220;
  font-size: 0.75em;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  background: rgb(212, 202, 181);
  border: solid #301e15 3px;
  background: linear-gradient(180deg, rgb(251, 219, 145) 0%,
   rgb(218, 210, 164) 100%);
   box-shadow: 3px 3px #263b5a;
   width: 350px;
   height: 0.75em;
   padding: 10px;

}


.inputName:hover {
  color: #000000;
  border: solid #350c0c 4px;
  border-radius: 20px;
  background: rgb(197, 247, 185);
  background: linear-gradient(180deg, rgb(105, 212, 171) 0%,
   rgb(186, 207, 197) 100%);
  box-shadow: 3px 3px #2f476a;
}

.scoreh1 {
  width: 3.5em;
  align-items: center;
  transform: translate(70%, 8%);
  top: 5px;
  font-size: 4em;
  padding-top: 10px;
  color:#350c0c;
  text-shadow: 3px 4px #ec9c77;
  text-align: center;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  border: solid #301e15 3px;
  background: linear-gradient(180deg, rgb(251, 219, 145) 0%,
   rgb(138, 129, 80) 100%);
   border-radius: 20px;
   box-shadow: 3px 3px #263b5a;
}

.scoreh1:hover {
    border: solid #350c0c 4px;
    background: rgb(197, 247, 185);
    background: linear-gradient(180deg, rgb(170, 238, 212) 0%,
     rgb(170, 233, 203) 100%);
    color: #000000;
  }

  .submitbtn {
    border-radius: 20px;
  align-items: center;
  transform: translate(-0%, -40%);
  top: 15px;
  font-size: 2em;
  text-shadow: 3px 3px #afaead;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  background: rgb(212, 202, 181);
  border: solid #301e15 3px;
  background: linear-gradient(180deg, rgb(251, 219, 145) 0%,
   rgb(138, 129, 80) 100%);
   box-shadow: 3px 3px #3a5781;
   padding: 10px;
   width: 290px;
}
.submitbtn:hover {
  border: solid #350c0c 4px;
    background: rgb(197, 247, 185);
    background: linear-gradient(180deg, rgb(105, 212, 171) 0%,
     rgb(48, 125, 88) 100%);
    color: #000000;
    cursor: pointer;
    box-shadow: 3px 4px #263b5a;
} 

.leaderBoard{
  font-size: 10px;
}